<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10">
    <title>Nikhil</title>
</head>
<body>
<h1>This is Nikhil Content.</h1>
</body>
</html>