# website1 configuration

server {
    listen 81;
    server_name nikhil.com;

    location / {
        # Configuration for website1
        root /var/www/html/site1;
        index index.html;

    }
}