# website2 configuration

server {
    listen 83;
    server_name jayanth.com;

    location / {
        # Configuration for website2
        root /var/www/html/site3;
        index index.html;

    }
}